.userTable{

  position: relative;
  padding: 35px;
  word-spacing: 10px;
 text-align: left;
 margin-top: 20px;
 width:100%;
 border: 1px solid silver;
 border-collapse: collapse;
 background-color: floralwhite;
}
.userTable th, .userTable td{
    border: 1px solid #ddd;
  padding: 8px;  
}
.userTable th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: blue;
    color: white;
}
.deleteButton{
    color: blue;
    font-style: italic;
}